--
-- PostgreSQL database dump
--

\restrict ESndafUXrUvfHflGK7Hyznr6f7mFhrkraVFctFbkepEU2FEEOCfvO2qXf9id4Zs

-- Dumped from database version 18.1 (Debian 18.1-1.pgdg13+2)
-- Dumped by pg_dump version 18.1 (Debian 18.1-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: admin_users; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.admin_users (id, username, password_hash, email, email_verified, is_superadmin, can_register, last_login_at, last_login_ip, created_at, updated_at) FROM stdin;
2	admin	test	admin@example.com	f	f	t	2026-01-01 06:06:46.852697+00	127.0.0.1	2025-12-29 12:55:58.153891+00	2026-01-01 06:06:46.852698+00
\.


--
-- Name: admin_users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.admin_users_id_seq', 3, true);


--
-- PostgreSQL database dump complete
--

\unrestrict ESndafUXrUvfHflGK7Hyznr6f7mFhrkraVFctFbkepEU2FEEOCfvO2qXf9id4Zs

