--
-- PostgreSQL database dump
--

\restrict h2dSQrf5xRFujVrE7RQkZo8Fx3UhrVziIhEX70Ar66EbdJwGfk6M7rhPF8imVqb

-- Dumped from database version 18.1 (Debian 18.1-1.pgdg13+2)
-- Dumped by pg_dump version 18.1 (Debian 18.1-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: __diesel_schema_migrations; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.__diesel_schema_migrations (
    version character varying(50) NOT NULL,
    run_on timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.__diesel_schema_migrations OWNER TO admin;

--
-- Name: admin_logs; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.admin_logs (
    id integer NOT NULL,
    admin_id integer NOT NULL,
    action character varying(100) NOT NULL,
    target character varying(100) NOT NULL,
    target_id integer,
    details text,
    ip_address character varying(32) DEFAULT NULL::character varying,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.admin_logs OWNER TO admin;

--
-- Name: admin_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.admin_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.admin_logs_id_seq OWNER TO admin;

--
-- Name: admin_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.admin_logs_id_seq OWNED BY public.admin_logs.id;


--
-- Name: admin_sessions; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.admin_sessions (
    id integer NOT NULL,
    admin_id integer NOT NULL,
    session_id character varying(255) NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.admin_sessions OWNER TO admin;

--
-- Name: admin_sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.admin_sessions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.admin_sessions_id_seq OWNER TO admin;

--
-- Name: admin_sessions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.admin_sessions_id_seq OWNED BY public.admin_sessions.id;


--
-- Name: admin_users; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.admin_users (
    id integer NOT NULL,
    username character varying(32) NOT NULL,
    password_hash character varying(64) NOT NULL,
    email character varying(32) NOT NULL,
    email_verified boolean DEFAULT false,
    is_superadmin boolean DEFAULT false,
    can_register boolean DEFAULT true,
    last_login_at timestamp with time zone,
    last_login_ip character varying(32) DEFAULT NULL::character varying,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.admin_users OWNER TO admin;

--
-- Name: admin_users_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.admin_users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.admin_users_id_seq OWNER TO admin;

--
-- Name: admin_users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.admin_users_id_seq OWNED BY public.admin_users.id;


--
-- Name: blacklist; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.blacklist (
    id integer NOT NULL,
    username character varying(32) DEFAULT NULL::character varying,
    hardware_code character varying(12) DEFAULT NULL::character varying,
    ip_address character varying(20) DEFAULT NULL::character varying,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.blacklist OWNER TO admin;

--
-- Name: blacklist_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.blacklist_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.blacklist_id_seq OWNER TO admin;

--
-- Name: blacklist_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.blacklist_id_seq OWNED BY public.blacklist.id;


--
-- Name: login_logs; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.login_logs (
    id integer NOT NULL,
    user_id integer NOT NULL,
    login_time timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    hardware_code character varying(12) NOT NULL,
    software_version character varying(32) NOT NULL,
    ip_address character varying(32) NOT NULL,
    status character varying(20) NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.login_logs OWNER TO admin;

--
-- Name: login_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.login_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.login_logs_id_seq OWNER TO admin;

--
-- Name: login_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.login_logs_id_seq OWNED BY public.login_logs.id;


--
-- Name: online_users; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.online_users (
    id integer NOT NULL,
    user_id integer NOT NULL,
    session_token character varying NOT NULL,
    login_time timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    hardware_code character varying(12) NOT NULL,
    software_version character varying(32) NOT NULL,
    ip_address character varying(32) NOT NULL,
    last_activity_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    status_interval integer DEFAULT 10 NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.online_users OWNER TO admin;

--
-- Name: online_users_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.online_users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.online_users_id_seq OWNER TO admin;

--
-- Name: online_users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.online_users_id_seq OWNED BY public.online_users.id;


--
-- Name: recharge_cards; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.recharge_cards (
    id integer NOT NULL,
    card_code character varying(32) NOT NULL,
    amount integer NOT NULL,
    vip_level integer NOT NULL,
    duration_days integer NOT NULL,
    is_used boolean DEFAULT false NOT NULL,
    used_at timestamp with time zone,
    used_by integer,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    price numeric(10,2) DEFAULT 0.00
);


ALTER TABLE public.recharge_cards OWNER TO admin;

--
-- Name: recharge_cards_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.recharge_cards_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.recharge_cards_id_seq OWNER TO admin;

--
-- Name: recharge_cards_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.recharge_cards_id_seq OWNED BY public.recharge_cards.id;


--
-- Name: recharge_logs; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.recharge_logs (
    id integer NOT NULL,
    user_id integer NOT NULL,
    card_code character varying(255) NOT NULL,
    vip_level integer NOT NULL,
    duration_days integer NOT NULL,
    recharge_time timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.recharge_logs OWNER TO admin;

--
-- Name: recharge_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.recharge_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.recharge_logs_id_seq OWNER TO admin;

--
-- Name: recharge_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.recharge_logs_id_seq OWNED BY public.recharge_logs.id;


--
-- Name: software; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.software (
    id integer NOT NULL,
    name character varying(32) NOT NULL,
    required_vip_level integer DEFAULT 0 NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    chinese_name character varying(64) DEFAULT ''::character varying NOT NULL,
    description text DEFAULT ''::text NOT NULL,
    detailed_description text DEFAULT ''::text NOT NULL,
    executable_name character varying DEFAULT ''::character varying NOT NULL,
    md5_checksum character varying DEFAULT ''::character varying NOT NULL,
    requires_admin boolean DEFAULT false NOT NULL,
    status boolean DEFAULT true
);


ALTER TABLE public.software OWNER TO admin;

--
-- Name: software_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.software_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.software_id_seq OWNER TO admin;

--
-- Name: software_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.software_id_seq OWNED BY public.software.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username character varying(32) NOT NULL,
    password_hash character varying(64) NOT NULL,
    email character varying(64) NOT NULL,
    email_verified boolean DEFAULT false NOT NULL,
    vip_level integer DEFAULT 0 NOT NULL,
    vip_expires_at timestamp with time zone,
    last_login_at timestamp with time zone,
    last_login_hardware character varying(12) DEFAULT NULL::character varying,
    last_login_version character varying(32) DEFAULT NULL::character varying,
    last_login_ip character varying(20) DEFAULT NULL::character varying,
    last_logout_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    note text,
    status boolean DEFAULT true
);


ALTER TABLE public.users OWNER TO admin;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO admin;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: verification_codes; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.verification_codes (
    id integer NOT NULL,
    user_id integer NOT NULL,
    email character varying(32) NOT NULL,
    code character varying(6) NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    used boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    token character varying(255) DEFAULT ''::character varying NOT NULL
);


ALTER TABLE public.verification_codes OWNER TO admin;

--
-- Name: verification_codes_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.verification_codes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.verification_codes_id_seq OWNER TO admin;

--
-- Name: verification_codes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.verification_codes_id_seq OWNED BY public.verification_codes.id;


--
-- Name: admin_logs id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.admin_logs ALTER COLUMN id SET DEFAULT nextval('public.admin_logs_id_seq'::regclass);


--
-- Name: admin_sessions id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.admin_sessions ALTER COLUMN id SET DEFAULT nextval('public.admin_sessions_id_seq'::regclass);


--
-- Name: admin_users id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.admin_users ALTER COLUMN id SET DEFAULT nextval('public.admin_users_id_seq'::regclass);


--
-- Name: blacklist id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.blacklist ALTER COLUMN id SET DEFAULT nextval('public.blacklist_id_seq'::regclass);


--
-- Name: login_logs id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.login_logs ALTER COLUMN id SET DEFAULT nextval('public.login_logs_id_seq'::regclass);


--
-- Name: online_users id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.online_users ALTER COLUMN id SET DEFAULT nextval('public.online_users_id_seq'::regclass);


--
-- Name: recharge_cards id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.recharge_cards ALTER COLUMN id SET DEFAULT nextval('public.recharge_cards_id_seq'::regclass);


--
-- Name: recharge_logs id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.recharge_logs ALTER COLUMN id SET DEFAULT nextval('public.recharge_logs_id_seq'::regclass);


--
-- Name: software id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.software ALTER COLUMN id SET DEFAULT nextval('public.software_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: verification_codes id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.verification_codes ALTER COLUMN id SET DEFAULT nextval('public.verification_codes_id_seq'::regclass);


--
-- Name: __diesel_schema_migrations __diesel_schema_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.__diesel_schema_migrations
    ADD CONSTRAINT __diesel_schema_migrations_pkey PRIMARY KEY (version);


--
-- Name: admin_logs admin_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.admin_logs
    ADD CONSTRAINT admin_logs_pkey PRIMARY KEY (id);


--
-- Name: admin_sessions admin_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.admin_sessions
    ADD CONSTRAINT admin_sessions_pkey PRIMARY KEY (id);


--
-- Name: admin_sessions admin_sessions_session_id_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.admin_sessions
    ADD CONSTRAINT admin_sessions_session_id_key UNIQUE (session_id);


--
-- Name: admin_users admin_users_email_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.admin_users
    ADD CONSTRAINT admin_users_email_key UNIQUE (email);


--
-- Name: admin_users admin_users_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.admin_users
    ADD CONSTRAINT admin_users_pkey PRIMARY KEY (id);


--
-- Name: admin_users admin_users_username_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.admin_users
    ADD CONSTRAINT admin_users_username_key UNIQUE (username);


--
-- Name: blacklist blacklist_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.blacklist
    ADD CONSTRAINT blacklist_pkey PRIMARY KEY (id);


--
-- Name: login_logs login_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.login_logs
    ADD CONSTRAINT login_logs_pkey PRIMARY KEY (id);


--
-- Name: online_users online_users_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.online_users
    ADD CONSTRAINT online_users_pkey PRIMARY KEY (id);


--
-- Name: online_users online_users_user_id_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.online_users
    ADD CONSTRAINT online_users_user_id_key UNIQUE (user_id);


--
-- Name: recharge_cards recharge_cards_card_code_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.recharge_cards
    ADD CONSTRAINT recharge_cards_card_code_key UNIQUE (card_code);


--
-- Name: recharge_cards recharge_cards_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.recharge_cards
    ADD CONSTRAINT recharge_cards_pkey PRIMARY KEY (id);


--
-- Name: recharge_logs recharge_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.recharge_logs
    ADD CONSTRAINT recharge_logs_pkey PRIMARY KEY (id);


--
-- Name: software software_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.software
    ADD CONSTRAINT software_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: verification_codes verification_codes_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.verification_codes
    ADD CONSTRAINT verification_codes_pkey PRIMARY KEY (id);


--
-- Name: idx_blacklist_hardware_code; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_blacklist_hardware_code ON public.blacklist USING btree (hardware_code);


--
-- Name: idx_blacklist_ip_address; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_blacklist_ip_address ON public.blacklist USING btree (ip_address);


--
-- Name: idx_blacklist_username; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_blacklist_username ON public.blacklist USING btree (username);


--
-- Name: idx_online_users_last_activity_at; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_online_users_last_activity_at ON public.online_users USING btree (last_activity_at);


--
-- Name: idx_online_users_session_token; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_online_users_session_token ON public.online_users USING btree (session_token);


--
-- Name: idx_online_users_user_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_online_users_user_id ON public.online_users USING btree (user_id);


--
-- Name: idx_recharge_cards_card_code; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_recharge_cards_card_code ON public.recharge_cards USING btree (card_code);


--
-- Name: idx_recharge_cards_is_used; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_recharge_cards_is_used ON public.recharge_cards USING btree (is_used);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: idx_users_username; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_users_username ON public.users USING btree (username);


--
-- Name: idx_users_vip_level; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_users_vip_level ON public.users USING btree (vip_level);


--
-- Name: idx_verification_codes_email; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_verification_codes_email ON public.verification_codes USING btree (email);


--
-- Name: idx_verification_codes_token; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_verification_codes_token ON public.verification_codes USING btree (token);


--
-- Name: idx_verification_codes_user_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_verification_codes_user_id ON public.verification_codes USING btree (user_id);


--
-- Name: admin_logs admin_logs_admin_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.admin_logs
    ADD CONSTRAINT admin_logs_admin_id_fkey FOREIGN KEY (admin_id) REFERENCES public.admin_users(id);


--
-- Name: admin_sessions admin_sessions_admin_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.admin_sessions
    ADD CONSTRAINT admin_sessions_admin_id_fkey FOREIGN KEY (admin_id) REFERENCES public.admin_users(id);


--
-- Name: login_logs login_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.login_logs
    ADD CONSTRAINT login_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: online_users online_users_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.online_users
    ADD CONSTRAINT online_users_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: recharge_cards recharge_cards_used_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.recharge_cards
    ADD CONSTRAINT recharge_cards_used_by_fkey FOREIGN KEY (used_by) REFERENCES public.users(id);


--
-- Name: recharge_logs recharge_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.recharge_logs
    ADD CONSTRAINT recharge_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: verification_codes verification_codes_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.verification_codes
    ADD CONSTRAINT verification_codes_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict h2dSQrf5xRFujVrE7RQkZo8Fx3UhrVziIhEX70Ar66EbdJwGfk6M7rhPF8imVqb

