<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
        <add key="ServerUrl" value="http://localhost:28001" />
        <add key="HeartbeatInterval" value="30000" />
        <add key="SoftwareDownloadUrl" value="http://www.280i.com/soft/280i-Login3/" />
    </appSettings>
</configuration>